source https://www.nuget.org/api/v2
framework: net46
nuget CompareNETObjects
nuget Elasticsearch.Net
nuget EventStore.Client
nuget EventStore.Client.Embedded
nuget Microsoft.Azure.KeyVault.Core
nuget Microsoft.Data.Edm
nuget Microsoft.Data.OData
nuget Microsoft.Data.Services.Client
nuget Newtonsoft.Json
nuget NuGet.CommandLine
nuget NUnit
nuget NUnit.ReSharperRunner3
nuget RavenDB.Client
nuget RavenDB.Database
nuget RavenDB.Embedded
nuget StackExchange.Redis
nuget System.Data.SQLite.Core
nuget System.Data.SQLite.Core.MSIL
nuget System.Spatial
nuget WindowsAzure.Storage