source https://www.nuget.org/api/v2
framework: netstandard20,net46,net452

nuget NUnit

nuget System.Data.SqlClient
nuget System.Data.SQLite.Core.MSIL

nuget CompareNETObjects
nuget Newtonsoft.Json
nuget Elasticsearch.Net
nuget EventStore.Client.Embedded
nuget RavenDB.Embedded
nuget StackExchange.Redis
nuget System.Data.SQLite.Core
nuget WindowsAzure.Storage